<%- include('includes/header', { title: locals.node.title, siteconfig: locals.siteconfig}); %>

<!-- LAYOUT: DEFAULT -->

<div class="sector">
	<div class="container">
		<div class="breadcrumb" style="font-size:0.8rem;color:#aaa;display:inline-block;padding:3px;margin:2px;">
			<% if(locals && locals.page && locals.page.breadcrumb) { %>
				<% for(let i=0; i<locals.page.breadcrumb.length -1; i++) { %>
					<a href="<%- locals.page.breadcrumb[i].path %>" style="color:#aab;">
						<%- locals.page.breadcrumb[i].title %>
					</a> &gt;
				<% } %>
				<%- locals.node.title %>
			<% } %>
		</div>
		<h1 class="headline"><%- locals.node.title %></h1>
	</div>
</div>

<div class="sector">
	<div class="container">
		<%- locals.node.content %>
		<% // ############################# ELEMENTS ############################### %>
		<% if(locals.element_mappings && locals.element_mappings.length > 0) { %>
			<div>
				<% for(let i=0; i<locals.element_mappings.length; i++) { %>
					<%- locals.element_mappings[i].content %>
				<% } %>
			</div>
		<% } %>
		<% // ############################# /ELEMENTS ############################### %>
	</div>
</div>

<% if(locals.latest_articles_show === true) { %>
	<div class="sector">
		<div class="container">
			<%- locals.latest_articles %>
		</div>
	</div>
<% } %>

<% if(locals.page.channel_articles && locals.page.channel_articles.length > 0) { %>
	<div class="sector">
		<div class="container">
			<p>
				<h5>
					Latest Articles:
				</h5>
				<style type="text/css">
					ul.list-latest-articles {
						margin: 3px;
						padding: 3px;
						list-style-type: none;
					}
					ul.list-latest-articles li {
						margin: 20px 0;
						padding: 20px;
						border: 1px solid silver;
						border-radius: 3px;
					}
				</style>
				<ul class="list-latest-articles">
					<% for(let i=0; i<locals.page.channel_articles.length; i++) { 
						article = { 
							path: locals.page.channel_articles[i].path || '#',
							topic: locals.page.channel_articles[i].topic + ':' || '', 
							title: locals.page.channel_articles[i].title || '', 
							description: locals.page.channel_articles[i].description || ''
						}
					%>
						<li>
							<a href="<%- article.path %>">
								<b>
									<%- article.topic %>
									<%- article.title %>
								</b>
							</a>
							<div>
								<%- article.description %>
							</div>
							<div style="text-align:right;">
								<a href="<%- article.path %>">read more...</a>
							</div>
						</li>
						<% } %>
					</ul>
				</p>
			</div>
		</div>
<% } %>
		
<% if(locals.page.verbose > 3) { %>
	<div class="sector">
		<div class="container" style="background-color:papayawhip;">
			<h3>Debug</h3>
			<pre style="background-color:lightpink;">
			<%- JSON.stringify(locals, null, 4) %>	
			</pre>
		</div>
	</div>
<% } %>

<%- include('includes/footer'); %>
