<%- include('../includes/header', { title: locals.title }); %>

<div class="sector">
	<div class="container">
		<h1><%- locals.pageData.topic %>: <%- locals.title %></h1>
	</div>
</div>

<div class="sector">
	<div class="container">
		Description: <%- locals.pageData.description %>
	</div>
</div>

<div class="sector">
	<div class="container">
		<%- locals.content %>
	</div>
</div>

<%- include('../includes/footer'); %>
